.button {
  @include fontStyle-bold;

  display: inline-block;
  line-height: 30px;
  padding: 15px 20px;
  text-decoration: none;
}

.button--rounded {
  border: 2px solid $white;
  border-radius: 15px;
  padding: 15px 20px;
}
