.contest {
  background-color: $white;
  color: $blue;
  width: 100%;
  box-sizing: border-box;
}

.contest__title {
  @include font-style(14px, 30px, normal);

  margin-top: 40px;
  padding: $padding-mobile;
}
