.contest-form__wrapper {
  width: 100%;
  background-color: $gray;
}

.contest-form__note {
  @include font-style(14px, 30px, normal);

  display: block;
  margin: $center;
  padding: 20px 0;
  text-transform: uppercase;

  & sup {
    color: $red;
  }

  & span {
    display: none;
  }
}

.contest-form__name,
.contest-form__progress,
.contest-form__os,
.contest-form__contact,
.contest-form__text {
  width: 87.5%;
  margin: $center;
}

.contest-form__contact {
  margin-top: 35px;
  margin-bottom: 40px;
}

.contest-form__text {
  padding-top: 30px;
}

.contest-form__button {
  width: 280px;
  margin: $center;
}

@include respond-to(medium) {
  .contest-form {
    width: 93.9%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest-form__wrapper {
    background-color: $white;

    &--os {
      order: 2;
    }

    &--progress {
      order: 4;
    }
  }

  .contest-form__progress,
  .contest-form__os,
  .contest-form__contact,
  .contest-form__text {
    padding: 0;
    margin-bottom: 55px;
    width: 100%;
  }

  .contest-form__text {
    border: $table-border;
    order: 5;
  }

  .contest-form__name {
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    order: 1;
  }

  .contest-form__contact {
    border: $table-border;
    order: 3;

    & label {
      padding-left: 22px;
    }
  }

  .contest-form__note {
    margin-right: 20px;
    text-align: right;
    order: 7;
  }

  .contest-form__button {
    width: 300px;
    line-height: 30px;
    margin-left: 20px;
    order: 6;
  }
}

@include respond-to(large) {
  .contest-form {
    width: 80%;
  }
  .contest-form__contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contest-form__contact,
  .contest-form__progress {
    padding: 0 60px;
  }

  .contest-form__name,
  .contest-form__wrapper--os {
    width: 45%;
    margin: 0;
  }

  .contest-form__note {
    width: 40%;
    margin-right: 20px;

    & span {
      display: inline-block;
    }
  }

  .contest-form__text {
    padding: 0 60px;
  }
}
