.contacts {
  @include font-style(24px, 30px, lighter);

  padding-bottom: 70px;
  padding-top: 45px;
  min-height: 450px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.contacts__title {
  @include font-style(24px, 30px, lighter);
  @include indent;
}

.contacts__list {
  @include list;

  text-align: center;
}

.contacts__type {
  @include font-style(18px, 30px, bold);
}

.contacts__text {
  @include indent;

  color: $red;
}

.contacts__item {
  margin-bottom: 20px;
}

@include respond-to(medium) {
  .contacts__title {
    @include font-style(40px, 50px, lighter);
    padding-bottom: 60px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 50%;
  }
}

@include respond-to(large) {
  .contacts__title {
    @include font-style(50px, 50px, lighter);
  }

  .contacts__item {
    width: 33%;
    flex-grow: 1;

    &:nth-child(2) {
      order: 3;
    }
  }
}
