.contacts {
  @include font-style(24px, 30px, lighter);

  padding-bottom: 55px;
  padding-top: 42px;
  min-height: 300px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.contacts__title {
  @include font-style(24px, 30px, lighter);
  @include indent;

  padding-bottom: 25px;
}

.contacts__list {
  @include list;

  text-align: center;
}

.contacts__type {
  @include font-style(18px, 24px, bold);
}

.contacts__text {
  @include indent;

  color: $red;
}

.contacts__item {
  margin-bottom: 18px;
}

@include respond-to(medium) {
  .contacts__title {
    @include font-style(40px, 50px, lighter);
    padding-bottom: 60px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 50%;
  }
}

@include respond-to(large) {
  .contacts__type {
    display: block;
    margin-bottom: 22px;
  }

  .contacts__title {
    @include font-style(50px, 60px, lighter);
    padding-top: 30px;
    padding-bottom: 52px;
  }

  .contacts__item {
    width: 33%;
    flex-grow: 1;

    &:nth-child(2) {
      order: 3;
    }
  }
}
