.copyright {
  @include font-style(14px, 18px, normal);

  color: $blue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copyright__link {
  display: inline-block;
  box-sizing: border-box;
}

.copyright__link svg {
  fill: $red;
  object-fit: cover;

  &:hover {
    fill: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-right: 10px;
}

@include respond-to(medium) {
  .copyright__link {
    padding-top: 12px;
    box-sizing: border-box;
    height: auto;
  }
}
