.description {
  padding: $padding-mobile;
  padding-top: 40px;
  padding-bottom: 280px;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  background-image: url("../img/iphone-screen-mobile@1x.png"), url("../img/bg-description.png");
  background-size: auto, cover;
  background-position: center 105%, center bottom;
  background-repeat: no-repeat;
}

.description__header {
  @include font-style(24px, 30px, lighter);

  margin-bottom: 100px;
}

.description__slogan {
  @include font-style(24px, 30px, lighter);
  @include indent;
}

.description__list {
  @include list;

  text-align: center;
  padding: 0 15px;
  margin-bottom: 40px;
}

.description__title {
  @include indent;
  @include font-style(18px, 30px, bold);
}

.description__text {
  @include font-style(14px, 30px, normal);
}
