.description {
  background-color: $white;
  background-image: url("../img/bg-description.png");
  background-size: 100%;
  padding: $padding-mobile;
}

.description__header {
  @include fontStyle(24px, 30px, lighter);
}

.description__slogan {
  @include fontStyle(24px, 30px, lighter);
  @include indent;
}

.description__list {
  @include list;

  text-align: center;
}

.description__title {
  @include indent;
  @include fontStyle(18px, 30px, bold);
}

.description__text {
  @include fontStyle(14px, 30px, normal);
}
