.download-pink {
  color: $white;
  background-color: $blue;
  text-align: center;
  padding-top: 28px;
  width: auto;
}

.download-pink__name {
  @include indent;

  display: none;
}

.download-pink__button {
  width: 280px;
  box-sizing: border-box;
  margin: $center;
  margin-bottom: 35px;
  color: $white;
}

.download-pink_list {
  margin: $center;
  margin-bottom: 20px;
}

.download-pink__os {
  @include indent;
  @include font-style(14px, 24px, lighter);

  padding-bottom: 28px;
}

@include respond-to(medium) {
  .download-pink {
    position: absolute;
    left: 3%;
    bottom: 90px;
    background-color: transparent;
    padding: 0;
    width: 45.5%;
  }

  .download-pink .download-pink__wrapper {
    margin: 0;
    width: 100%;

  }
  .download-pink__os {
    font-size: 18px;
  }

  .download-pink__button {
    width: 100%;
    background-color: transparent;
  }

  .download-pink__name {
    @include font-style(40px, 50px, lighter);

    display: block;
    padding: 30px;
  }
}

@include respond-to(large) {
  .download-pink {
    left: 11%;
    bottom: 97px;
    width: 25%;
  }

  .download-pink__name {
    @include font-style(50px, 60px, lighter);
    margin-bottom: 25px;
}
  .download-pink__button {
    margin-bottom: 70px;
  }
  .download-pink_list {
    margin-bottom: 50px;
}
}
