.download-pink {
  width: 100%;
  color:white;
  background-color: #1d2631;
}
.download-pink__button {
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 35px;

}
.download-pink__OS {
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;
  margin: 20px auto;
}
