.edit {
  @include list;

  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
}

.edit__toggle {
  background-color: inherit;
}

.edit label {
  position: absolute;
  width: 240px;
  height: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: $center;

}

.edit__item {
  width: 33%;
  padding-bottom: 40px;
}

.edit .edit__range--hidden {
  display: none;
}

.edit__range + label::before {
  @include pseudo;

  width: 240px;
  height: 20px;
  top: 0;
  left: 0;
  border-bottom: 2px solid $blue;
}

.edit__range + label::after {
  @include pseudo;

  width: 10px;
  height: 10px;
  border: 2px solid $red;
  background-color: $white;
  border-radius: 50%;
  top: 14px;
  left: 30px;
}

.edit__range:active + label::after {
   background-color: $red;
}

@include respond-to(medium) {
  .edit {
    flex-direction: column;
  }

  .edit__item {
    width: 100%;
    position: relative;
    padding-right: 230px;
    box-sizing: border-box;
  }

  .edit label {
    width: 202px;
    top: 0;
  }

  .edit__range + label::before  {
    width: 202px;
  }

  .edit .edit__range--hidden {
    display: inline-block;
  }
}
