.effect {
  @include font-style(14px, 24px, 400);

  padding-top: 57px;
  text-align: left;
  display: none;
  min-height: 300px;
  background-color: $white;
}

.effect__wrapper {
  position: relative;
}

.effect__title {
  @include indent;
  @include font-style(30px, 36px, 700);

  text-align: left;
}

.effect__link {
  color: $red;
  display: block;
}

@include respond-to(medium) {
  .effect {
    display: block;
    position: relative;
  }

  .effect__image {
    position: absolute;

    &::after {
      @include pseudo($content: "24");
      @include font-style(96px, 160px, 700);
      @include bgImage;

      color: $red;
      width: 175px;
      height: 175px;
      border: 15px solid $red;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -43%);
    }
  }

  .effect__title {
    width: 50%;
    margin-left: auto;
    padding-right: 22.9px;
    padding-top: 40px;
    box-sizing: border-box;
    margin-bottom: 8px;
  }

  .effect__text {
    width: 50%;
    margin-left: auto;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 8px;
    padding-right: 13px;

    & br:last-child {
      display: none;
    }
  }

  .effect__link {
    width: 50%;
    margin-left: auto;

    &:hover {
      color: $blue;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@include respond-to(large) {
  .effect {
    min-height: 416px;
    background-color: $gray;
    padding-top: 33px;
    padding-bottom: 0;
  }

  .effect__image {
    left: 10px;
    width: 298px;
    height: 345px;

    &::after {
      @include font-style(120px, 200px, 700);

      width: 217px;
      height: 217px;
      transform: translate(-50%, -40%);
      border: 19px solid $red;
    }

    & svg {
      width: 298px;
      height: 345px;
    }
  }

  .effect__title {
    @include font-style(30px, 30px, 700);

    padding-top: 94px;
    width: 60.4%;
    margin-bottom: 23px;
    text-align: left;

    & br {
      display: none;
    }
  }

  .effect__text {
    @include font-style(18px, 30px, 400);

    text-align: left;
    width: 60.4%;
    margin-bottom: 35px;
    padding-right: 6.1%;

    & br:first-child {
      display: none;
    }
  }

  .effect__link {
    @include font-style(18px, 30px, 400);

    width: 60.4%;
    text-align: left;
  }
}
