.effect {
  @include font-style(14px, 24px, normal);

  padding-top: 90px;
  padding-bottom: 80px;
  text-align: left;
  display: none;
  min-height: 380px;
  background-color: $white;
}

.effect__wrapper {
  position: relative;
}

.effect__title {
  @include indent;
  @include font-style(30px, 36px, bold);

  text-align: left;
}

.effect__link {
  color: $red;
  display: block;
}

@include respond-to(medium) {
  .effect {
    display: block;
  }
  .effect__wrapper {
    &::after {
      @include pseudo;
      @include bgImage;

      width: 250px;
      height: 280px;
      background-image: url("../img/icon-timer.svg");
      background-size: contain;
      top: 0;
      left: 0;
    }
  }

  .effect__title {
    width: 50%;
    margin-left: auto;
    padding-right: 130px;
    box-sizing: border-box;
  }

  .effect__text {
    width: 50%;
    margin-left: auto;
  }

  .effect__link {
    width: 50%;
    margin-left: auto;
  }
}

@include respond-to(large) {
  .effect {
    min-height: 430px;
    background-color: $gray;
  }

  .effect__title {
    padding: 0;
  }
}
