.form-participant {
  @include indent;

  border: none;
  padding: 40px 0;
}

.form-participant__item {
  @include indent;
  @include fontStyle(14px, 30px, normal);

  text-align: left;
}

.form-participant__label {
  color: $red;
  padding: 10px 20px;
}

.form-participant__input {
  @include fontStyle(18px, 30px, normal);

  color: $blue;
  padding: 20px;
  border: 3px solid #e5e5e5;
}
