.form-option {
  @include indent;

  background-color: $gray;
  border: none;
}

.form-option__title {
  @include font-style(14px, 18px, normal);
  @include indent;

  color: $red;
  text-transform: uppercase;
  padding: 0 40px;
  padding-top: 30px;
  background-color: $gray;
  width: 100%;
}

.form-option__list {
  @include list;
  @include font-style(18px, 30px, normal);

  text-align: left;
  margin: 40px 0;
}

.form-option__item {
  margin-bottom: 45px;
  padding-left: 90px;
  padding-right: 20px;
  color: $blue;
  width: 100%;
  box-sizing: border-box;
}
