.form-option {
  @include indent;

  background-color: $gray;
  border: none;
}

.form-option__title {
  @include font-style(14px, 18px, normal);
  @include indent;

  color: $red;
  margin-top: 50px;
}

.form-option__list {
  @include list;
  @include font-style(18px, 30px, normal);

  text-align: left;
  margin: 40px 0;
}

.form-option__item {
  margin-bottom: 45px;
  padding-left: 70px;
  color: $blue;
}
