.gallery {
  background-color: $white;
  color: $blue;
  margin-bottom: 40px;
}

.gallery__title {
  @include font-style(14px, 30px, 400);
  @include indent;

  width: 87.5%;
  margin: $center;
  margin-top: 45px;
  padding: 0 15px;
  margin-bottom: 49px;
  box-sizing: border-box;
}

.gallery__list {
  @include list;
}

.gallery__photo {
  height: auto;
  background-color: $gray;
}

.gallery__photo--panorama {
  background-color: transparent;
}

.gallery__item {
  width: 87.5%;
  margin: $center;
  margin-bottom: 20px;
}

.gallery__item--panorama {
  @include indent;

  width: 100%;
  margin-bottom: 19px;
}

@include respond-to(medium) {
  .gallery {
    margin-bottom: 45px;
  }

  .gallery__title {
    @include font-style(18px, 30px, 400);

    width: 93.9%;
    margin-top: 90px;
    margin-bottom: 78px;
    padding: 0 85px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    width: 93.7%;
    margin: $center;
    align-items: stretch;
    justify-content: space-between;
  }

  .gallery__item {
    width: 48.5%;
    margin: 0;
    margin-bottom: 20px;

    &--panorama {
      width: 100%;
      margin: 0;
      margin-bottom: 50px;
    }
  }

  .gallery__photo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@include respond-to(large) {
  .gallery {
    margin-bottom: 4px;
  }

  .gallery__title {
    @include font-style(18px, 30px, 400);

    width: 80%;
    margin-bottom: 89px;
    margin-top: 91px;

    & span {
      display: block;
    }
  }

  .gallery__list {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .gallery__item {
    width: 32%;
    margin-bottom: 54px;

    &--panorama {
      width: 100%;
      margin-bottom: 49px;
    }
  }
}
