.gallery {
  background-color: $white;
  color: $blue;
  width: 100%;
  box-sizing: border-box;
}

.gallery__title {
  @include font-style(14px, 30px, normal);
  @include indent;

  padding: 40px 20px;
}

.gallery__list {
  @include list;
}

.gallery__photo {
  height: auto;
}

.gallery__item {
  margin: $padding-mobile;
  margin-bottom: 20px;
}

.gallery__item--panorama {
  @include indent;

  width: 100%;
}
