.list-icon {
  @include list;

  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.list-icon__link {
  @include link;
  @include bgImage;

  width: 60px;
  height: 60px;
}

.list-icon__link--apple {
  background-image: url("../img/logo-apple.svg");
}

.list-icon__link--android {
  background-image: url("../img/logo-android.svg");
}

.list-icon__link--microsoft {
  background-image: url("../img/logo-microsoft.svg");
}
