.main-footer {
  padding: $padding-mobile;
}

.main-footer__logo {
  padding: 40px 0;
  margin: $center;
}

.main-footer__social {
  padding-bottom: 40px;
  margin: $center;
}

.main-footer__copyright {
  padding-bottom: 40px;
  margin: $center;
}
