.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer--hidden {
  display: none;
}

@include respond-to(medium) {
  .main-footer--hidden {
    display: block;
    position: absolute;
    left: 0;
    bottom: -300px;
    z-index: 10;
  }

  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer__logo {
    width: 33%;
    flex-grow: 1;
    text-align: left;
  }

  .main-footer__social {
    width: 33%;
    flex-grow: 1;
  }

  .main-footer__copyright {
    width: 33%;
    flex-grow: 1;
    text-align: right;
  }
}

@include respond-to(large) {
  .main-footer--hidden {
    bottom: -350px;
  }
}
