.main-header {
  position: relative;
  min-height: $header-height-xs;
  background: rgba(40,54,69,0.3);
  z-index: 100;
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}
.main-header__wrapper-logo {
  width: 87.5%;
  margin: $center;
}

.main-header--opened {
  background-color: $blue;
}

.main-header__logo {
  display: inline-block;
  padding: 20px;
  text-align: left;
}

@include respond-to(medium) {
  .main-header {
    min-height: 110px;
  }
  .main-header__wrapper-logo {
    width: 93.9%;
  }
  .main-header__logo {
    padding-bottom: 30px;
  }
}

@include respond-to(large) {
  .main-header {
    background: rgba(40,54,69,0.3);
  }

  .main-header__wrapper-logo {
    width: 17.7%;
  }



  .main-header__wrapper  {
    flex-direction: row;
    justify-content: space-between;
    background: rgba(40,54,69,0.3);
    width: 80%;
    margin: $center;
  }

  .main-header__logo {
    margin-left: 0;
  }
}
