.main-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: $header-height-xs;
  display: flex;
  flex-direction: column;
  margin: $center;
  background: rgba(40,54,69,0.3);
  align-items: baseline;
  z-index: 100;
}

.main-header--opened {
  // background-color: $blue;
}

.main-header__logo {
  display: inline-block;
  padding: 20px;
  text-align: left;
}

@include respond-to(medium) {
  .main-header {
    min-height: 110px;
  }

  .main-header__logo {
    padding-bottom: 30px;
  }
}

@include respond-to(large) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header__logo {
    margin-left: 110px;
    // width: 150px;
    // background-color: transparent;
  }
}
