.main-nav {
  @include font-style(18px, 32px, 700);

  color: $white;
  width: 100%;
  padding-top: 5px;
}

.main-nav__button {
  width: 50px;
  height: 26px;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 6.25%;
  background-color: transparent;
  border: none;
  outline: none;
}

.main-nav--closed .main-nav__button::before {
  @include pseudo;

  top: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__button:focus::before,
.main-nav--closed .main-nav__button:hover::before {
  background-color: $red;
  box-shadow: 0 8px 0 0 $red, 0 16px 0 0 $red;
}

.main-nav--closed .main-nav__button:active::before {
  background-color: rgba($red, 0.3);
  box-shadow: 0 8px 0 0 rgba($red, 0.3), 0 16px 0 0 rgba($red, 0.3);
}

.main-nav--opened .main-nav__button {
  &::before,
  &::after {
    @include pseudo;

    top: 10px;
    right: -4px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $red;
  }

  &:active::before,
  &:active::after {
    background-color: rgba($red, 0.3);
  }
}

.main-nav__list {
  @include list;

  width: 100%;
  box-sizing: border-box;
}

.main-nav__item {
  @include indent;

  width: 100%;
  box-sizing: border-box;
}

.main-nav--closed .main-nav__item {
  display: none;
}

.main-nav--closed .main-nav__list {
  background-color: transparent;
}

.main-nav--opened .main-nav__list {
  z-index: 10;
  background-color: $blue;
}

.main-nav__link {
  @include font-style(18px, 32px, 700);
  @include link;

  text-transform: uppercase;
  margin: 0;
  padding: 15px;
  border-top: 1px solid $gray-border;
  border-bottom: 1px solid $black;

  &--current {
    border-color: $blue;
  }
}

.man-nav__link[href]:hover,
.man-nav__link[href]:active {
  border: none;
  border-color: $red;
  outline: none;
}

.main-nav--nojs .main-nav__button {
  display: none;
}

.main-nav--nojs .main-nav__list {
  position: static;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

@include respond-to(medium) {
  .main-nav {
    padding-top: 7px;
  }

  .main-nav__button {
    right: 3.1%;
    top: 44px;
  }
}

@include respond-to(large) {
  .main-nav {
    width: 67.8%;
    padding-top: 0;
  }

  .main-nav__list {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  .main-nav--closed .main-nav__item {
    display: block;
  }

  .main-nav__item {
    width: auto;
    padding-left: 20px;
    padding-right: 10px;
  }

  .main-nav--opened .main-nav__list {
    background-color: transparent;
  }

  .main-nav__link {
    @include font-style(18px, 18px, 400);

    padding: 7px 0;
    padding-bottom: 5px;
    text-transform: none;
    border: none;

    &--current {
      border-bottom: 2px solid $white;
    }
  }

  .main-nav__link[href] {
    &:hover {
      color: $red;
    }

    &:active {
      color: inherit;
      opacity: 0.3;
    }
  }

  .main-nav__button {
    display: none;
  }
}
