.main-footer {
  padding: $padding-mobile;
  width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $center;
}

.main-footer__logo {
  padding: 20px 0;
}

.main-footer__social {
  padding: 20px 0;
}

.main-footer__copyright {
  padding: 20px 0;
}
