.main-nav {
  @include fontStyle(18px, 32px, bold);

  background-color: $blue;
  color: $white;
  width: 100%;
}

.main-nav__button {
  width: 50px;
  height: 24px;
}

.main-nav__list {
  @include list;

  background-color: $blue;
}

.main-nav__item {
  margin: 0;
  padding: 20px;
}

.main-nav__link {
  @include fontStyle(18px, 32px, bold);
  @include link;

  text-transform: uppercase;
}
