.modal {
  @include font-style(14px, 24px, normal);

  position: absolute;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  color: $blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 320px;
}

.modal__title {
  @include indent;

  color: #000000;
  font-weight: bold;
  padding: $padding-mobile;
  padding-top: 50px;
  margin-bottom: 20px;
}

.modal__text {
  @include indent;

  margin-bottom: 35px;
  padding: $padding-mobile;
}

.modal__button {
  margin: $center;
  margin-bottom: 50px;
  width: 280px;
}
