.photo-load {
  @include font-style(14px, 30px, normal);

  color: $blue;
}

.photo-load__title {
  @include font-style(14px, 30px, normal);

  background-color: $white;
  margin: 40px 0;
  width: 87.5%;
  margin: $center;
}

.photo-load__wrapper {
  box-sizing: border-box;
  background-color: $gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.photo-load__image {
  margin-bottom: 40px;
  width: 280px;
  height: 373px;
  overflow: hidden;
  margin: $center;
}

.photo-load__button {
  width: 280px;
  margin: $center;
  margin-bottom: 10px;
  margin-top: 10px;
}

@include respond-to(medium) {
  .photo-load {
    padding: 0;
  }

  .photo-load__title {
    @include font-style(18px, 30px, normal);
    width: 93.9%;
    margin: 70px auto;
  }

  .photo-load__image {
    width: 300px;
    height: 400px;
    margin: 0;
  }

  .photo-load__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-load__filters {
    width: 50%;
  }

  .photo-load__button {
    width: 260px;
  }
}

@include respond-to(large) {
  .photo-load__wrapper {

    padding: 55px 0;
  }

  .photo-load__title {
    margin: 60px 0;
  }

  .option__range {
    display: block;
  }

  .photo-load__filters {
    width: 60%;
  }

  .photo-load__button {
    width: 186px;
    display: inline-block;
    margin: 0 10px;
  }
}
