.rates {
  width: 100%;
  overflow: hidden;
  background-color: $gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top, left;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}

.rates__container {
  width: 87.5%;
  margin: $center;
  padding-top: 91px;
  background-size: cover;
}

.rates__table {
  @include font-style(14px, 30px, normal);

  border-collapse: collapse;
  min-width: ($table-width-xs * ($table-col - 1));
  width: 300%;
  transform: translateX(-33.33%);
  border: $table-border;
  margin-bottom: 34px;
}

table tr > *:nth-child(1) {
  display: none;
}

.rates__name {
  @include font-style(18px, 30px, bold);

  text-transform: uppercase;
  background-color: $blue;
  color: $white;
  box-sizing: border-box;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 21px;
  border-right: $table-border;

  &--hit {
    &::before {
      @include pseudo;

      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
      top: 0;
      left: 0;
    }

    &::after {
      @include pseudo($content: "ХИТ");
      @include font-style(14px, 30px, lighter);

      transform: rotate(-45deg);
      top: 10px;
      left: 13px;
    }
  }
}

.rates__feature {
  border: $table-border;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 14px;
  text-transform: uppercase;

  &--checked {
    background: url("../img/icon-yes.svg") 90% 50% no-repeat;
    background-size: 35px 26px;
  }

  &--unchecked {
    background: url("../img/icon-no.svg") 90% 50% no-repeat;
    background-size: 35px 35px;
  }
}

.rates__feature-name {
  @include indent;

  text-align: left;
  background-color: transparent;
}

.rates__price {
  @include font-style(24px, 30px, lighter);
}

.rates__toggles {
  margin-bottom: 26px;
  width: 100%;
}

@include respond-to(medium) {
  .rates {
    padding-bottom: 70px;

  }
  .rates__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    box-sizing: border-box;
    padding-top: 86px;
  }

  .rates__feature {
    text-transform: none;
    box-sizing: border-box;
    text-align: left;
    min-width: 0;
    width: 20%;
    padding-left: 14px;
    padding-top: 7px;
    padding-bottom: 8px;

    &--checked {
      background-position: 50% 50% ;
      background-size: 31px 21px;
    }

    &--unchecked {
      background-position: 50% 50% ;
      background-size: 27px 26px;
    }
  }

  .rates__feature-name {
    display: none;
  }

  .rates__table {
    transform: translateX(0);
    min-width: $table-width-m;
    width: 93.9%;
    margin: $center;
  }

  table tr > *:nth-child(1) {
    display: table-cell;
  }

  .rates__price {
    @include font-style(18px, 30px, lighter);
  }

  .rates__name {
    @include font-style(16px, 30px, bold);

    width: 20%;
    padding-top: 12px;
    padding-bottom: 5px;
    min-width: 0;
  }

  .rates__name--hit {
    &::before {
      background-image: url("../img/bg-hit-tablet.svg");
      width: 61px;
      height: 61px;
    }
    &::after {
      left: 8px;
      top: 3px;
    }
  }

  .rates__toggles {
    display: none;
  }
}

@include respond-to(large) {
  .rates__container {
    margin-top: 0;
    padding-top: 190px;
  }

  .rates__table {
    width: 80%;
    margin-bottom: 95px;
    padding: 0 10px;
  }

  .rates__name {
    @include font-style(18px, 30px, bold);

    padding-bottom: 20px;
    padding-top: 15px;
  }

  .rates__price {
    @include font-style(24px, 30px, lighter);
  }

  .rates__feature {
    @include font-style(18px, 30px, normal);

    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 14px;
    text-align: left;
  }
}
