.rate {
  margin-top: 112px;
  background-image: url("../img/bg-description.png");
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.rates__table {
  @include font-style(14px, 30px, normal);

  border-collapse: collapse;
  min-width: ($table-width-xs * ($table-col - 1));
  width: 100%;
  margin: $center;
  transform: translateX(-30%);
  border: $table-border;
  margin-bottom: 34px;
}

table tr > *:nth-child(1) {
  display: none;
}

.rates__name {
  @include font-style(18px, 30px, bold);

  text-transform: uppercase;
  background-color: $blue;
  color: $white;
  width: 87.5%;
  min-width: $table-width-xs;
  margin: $center;
  box-sizing: border-box;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 21px;
  border-right: $table-border;

  &--hit {
    &::before {
      @include pseudo;

      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
      top: 0;
      left: 0;
    }

    &::after {
      @include pseudo($content: "ХИТ");
      @include font-style(14px, 30px, lighter);

      transform: rotate(-45deg);
      top: 10px;
      left: 13px;
    }
  }
}

.rates__feature {
  border: $table-border;
  width: 87.5%;
  min-width: $table-width-xs;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 14px;
  text-transform: uppercase;
}

.rates__feature-name {
  @include indent;

  text-align: left;
  background-color: transparent;
}

.rates__price {
  @include font-style(24px, 30px, lighter);
}

.rates__toggles {
  margin-bottom: 26px;
}

@include respond-to(medium) {
  .rate {
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    box-sizing: border-box;
  }

  .rates__feature {
    text-transform: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    min-width: 0;
    width: 20%;
  }

  .rates__feature-name {
    display: none;
  }

  .rates__table {
    transform: translateX(0);
    min-width: $table-width-m;
    width: 93.9%;
  }

  table tr > *:nth-child(1) {
    display: table-cell;
  }

  .rates__price {
    @include font-style(18px, 30px, lighter);
  }

  .rates__name {
    @include font-style(16px, 30px, bold);

    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 0;
  }

  .rate__toggles {
    display: none;
  }
}

@include respond-to(large) {
  .rate {
    margin-top: 0;
    padding-top: 190px;
  }

  .rates__table {
    width: 80%;
    margin-bottom: 95px;
    padding: 0 10px;
  }

  .rates__name {
    @include font-style(18px, 30px, bold);

    padding-bottom: 20px;
  }

  .rates__price {
    @include font-style(24px, 30px, lighter);
  }

  .rates__feature {
    @include font-style(18px, 30px, normal);

    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 14px;
    text-align: left;
  }

  .rates__toggles {
    display: none;
  }
}
