.slider {
  @include font-style(14px, 30px, 400);
}

.slider__toggles {
  @include indent;

  border: none;
  width: 25%;
  margin: $center;
  text-align: center;
}

.slider__toggle {
  font-size: 10px;
  border: none;
  width: 20px;
  height: 20px;
  background: transparent;
  color: transparent;
  padding: 0;
  position: relative;

  &::before {
    @include pseudo($pos: absolute);
    width: 7px;
    height: 7px;
    background-color: #0a0a0a;
    border-radius: 50%;
    opacity: 0.3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.slider__toggle--checked::before {
  @include pseudo;
  opacity: 1;
  width: 7px;
  height: 7px;
  border: 3px solid $blue;
  border-radius: 50%;
  background-color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__list {
  @include list;

  text-align: center;
  margin: $center;
}

.slider__title {
  @include font-style(18px, 30px, 700);

  font-style: normal;
  margin: $center;
  box-sizing: border-box;
}

.slider__text {
  @include indent;

  margin-top: 12px;
  margin-bottom: 23px;
}

.slider__item--hidden {
  display: none;
}

.slider__title span {
  @include font-style(14px, 30px, 400);

  display: none;
}

@include respond-to(medium) {
  .slider__title {
    font-size: 20px;
  }

  .slider__title span {
    display: block;
  }

  .slider__text {
    @include font-style(18px, 30px, 400);

    margin-bottom: 36px;
  }
}

@include respond-to(large) {
  .slider__title {
    @include font-style(24px, 30px, 700);

    & span {
      @include font-style(18px, 30px, 400);
    }
  }
}
