.slider {
  @include font-style(14px, 30px, normal);
}

.slider__toggles {
  text-align: center;
}

.slider__list {
  @include list;

  text-align: center;
}

.slider__title {
  @include font-style(18px, 30px, bold);

  font-style: normal;
  margin: $center;
  padding: 20px;
}

.slider__text {
  @include indent;

  margin: 20px 0;
}

.slider__item--hidden {
  display: none;
}

.slider__title span {
  @include font-style(14px, 30px, normal);

  display: none;
}

@include respond-to(medium) {
  .slider__title {
    font-size: 20px;
  }

  .slider__title span {
    display: block;
  }
}
