.title {
  @include bgImage;

  width: 320px;
  height: 462px;
  color: $white;
  background-color: $blue;
  background-image:  url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom left, center center;
  background-size: auto, cover;
}

.title__elem {
  @include font-style(24px, 30px, lighter);

  color: $white;
  margin: 30px 0;
  padding-top: 95px;
}
