.title {
  @include bgImage;

  min-height: 462px;
  color: $white;
  background-color: $blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom left, bottom center;
  background-size: auto, cover;

  &--bg {
    min-height: 170px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: center 20%;
    background-size: cover;
  }
}

.title__name {
  @include font-style(24px, 30px, lighter);
  @include indent;

  color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 87.5%;
  margin: $center;
}

@include respond-to(medium) {
  .title {
    min-height: 730px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom center, bottom center;
  }

  .title--bg {
    min-height: 330px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;
  }

  .title__name {
    @include font-style(50px, 60px, lighter);

    width: 93.9%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@include respond-to(large) {
  .title {
    min-height: 850px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom right, bottom center;
  }

  .title--bg {
    min-height: 394px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center;
  }

  .title__name {
    width: 50%;
    box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 190px;
    padding-bottom: 90px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
