.title {
  @include bgImage;

  width: 100%;
  min-height: 462px;
  color: $white;
  background-color: $blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom left, center center;
  background-size: auto, cover;
}

.title__elem {
  @include font-style(24px, 30px, lighter);
  @include indent;

  color: $white;
  padding: 30px 20px;
}

.title--bg {
  min-height: 170px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 20%;
  background-size: cover;
}
