$blue: #283645;
$white: #ffffff;
$red: #d22856;
$gray: #f2f2f2;
$gray-btn: #dddfe0;
$gray-border: #485461;
$green: #2aab6d;
$black: #000000;
$padding-mobile: 0 3%;
$padding-decstop: 0 130px;
$center: 0 auto;
$breakpoints: (
  "small": 320px,
  "medium": 660px,
  "large": 950px,
);
$table-col: 4;
$table-border: 2px solid #e5e5e5;
$table-width-xs: 280px;
$table-width-m: 620px;
$table-width-xl: 940px;
$header-height-xs: 70px;
$header-height-m: 110px;
